/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 0px;
  padding-bottom: 0px;
}
.jumbotron {
  height: 380px;
  background-color: #204060;
  color: #ffffff;
}
.col-md-6 {
  justify-content: center;
  padding-left: 40px;
  padding-right: 40px;
  border: 2px;
  border-color: black;
}
