* {
    margin: 0;
}
html, body {
    height: 100%;
  }
body {
    background-color: #f5f5f0;
}
.main {
  padding-bottom: 40px;
}
.heropanel {
    background-image: url("../images/Slice 1.png");
    background-attachment: fixed;
    background-size: contain;
    height: 380px;
    background-color: #204060;
    color: #ffffff;
    text-align: center;
}
.bggunenter {
    height: 50px;
}
.pickerpanel {
    padding-top: 30px;
    text-align: center;
}
.massivebuttonshow {
    height: 100px;
    width: 330px;
    background-color: #1a1a1a;
}
.massivebuttonplay {
    height: 100px;
    width: 330px;
    background-color: #1a1a1a;
}
.bluebtn {
    -webkit-transition: width 0.4s, height 0.4s, background-color 0.4s, -webkit-transform 0.4s;
}
.bluebtn:hover {
    height: 150px;
    width: 380px;
    background-color: #003300;
}
.bluebtn:active {
    background-color: #003300;
}
.modal img {
    max-width: 350px;
    max-height: 350px;
}
.footer {
    bottom: 0;
    width: 100%;
    background-image: url("../images/Slice 2.png");
    background-position: bottom;
    background-size: cover;
    background-color: #204060;
    min-height: 30%;
    margin-bottom: -100px;
}
.footer:after {
    content: "";
    display: block;
}
.footer, .footer:after {
    height: 100px;
}
